#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
}
.logo:hover {
  filter: drop-shadow(0 0 20px yellow);
  will-change: filter;
  transition: filter 300ms;
}

.card:hover {
  filter: drop-shadow(0 0 20px #01aaffaa);
  will-change: filter;
  transition: filter 300ms;
}

button:hover {
  filter: drop-shadow(0 0 20px #ffffff);
  will-change: filter;
  transition: filter 300ms;
}

.img {
  width: 50%;
}

.name {
  color: white;
  font-size: 22px;
  text-shadow: white;
}
