#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
}
.logo:hover {
  filter: drop-shadow(0 0 20px yellow);
  will-change: filter;
  transition: filter 300ms;
}

.card:hover {
  filter: drop-shadow(0 0 20px grey);
  will-change: filter;
  transition: filter 300ms;
}

button:hover {
  filter: drop-shadow(0 0 20px white);
  will-change: filter;
  transition: filter 300ms;
}

.img {
  width: 50%;
}

.name {
  color: white;
  font-size: 22px;
  text-shadow: white;
}

.green {
  text-align: center;
}
.green:hover {
  filter: drop-shadow(0 0 20px rgb(95, 216, 145));
  will-change: filter;
  transition: filter 300ms;
}

.red {
  text-align: center;
}
.red:hover {
  filter: drop-shadow(0 0 20px rgb(255, 102, 0));
  will-change: filter;
  transition: filter 300ms;
}

.blue {
  text-align: center;
}
.blue:hover {
  filter: drop-shadow(0 0 20px rgba(81, 210, 253, 0.863));
  will-change: filter;
  transition: filter 300ms;
}

.yellow {
  text-align: center;
}
.yellow:hover {
  filter: drop-shadow(0 0 20px rgb(255, 217, 0));
  will-change: filter;
  transition: filter 300ms;
}

.rose {
  text-align: center;
}
.rose:hover {
  filter: drop-shadow(0 0 20px rgb(248, 164, 241));
  will-change: filter;
  transition: filter 300ms;
}

.violet {
  text-align: center;
}
.violet:hover {
  filter: drop-shadow(0 0 20px rgb(121, 57, 180));
  will-change: filter;
  transition: filter 300ms;
}