#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #fffb06aa);
}

.card {
  width: 250px;
  padding: 1rem;
  background-color: lightgreen;
  background-image: radial-gradient(circle, rgb(159, 0, 207), green);
  border-radius: 5px;
  color: white;
  font-size: 1.6rem;
  text-align: center;
  text-shadow: 0px 0px 5px white;
}

.img {
  width: 100%;
  height: auto;
  border-width: 5px;
  border-style: solid;
  border-color: red black white;
  border-radius: 120px;
  margin-bottom: 0.5rem;
  background-color: black;
  box-shadow: inherit;
}

.name {
  color: black
}